In [1]:
#All these packages need to be installed from pip
import gensim#For word2vec, etc
import requests #For downloading our datasets
import lucem_illud #pip install -U git+git://github.com/UChicago-Computational-Content-Analysis/lucem_illud.git

import numpy as np #For arrays
import pandas #Gives us DataFrames
import matplotlib.pyplot as plt #For graphics
import seaborn #Makes the graphics look nicer
import sklearn.metrics.pairwise #For cosine similarity
import sklearn.manifold #For T-SNE
import sklearn.decomposition #For PCA

import pandas as pd
from csv import reader
#This 'magic' command makes the plots work better
#in the notebook, don't use it outside of a notebook.
#Also you can ignore the warning
%matplotlib inline

import os #For looking through files
import os.path #For managing file paths

In [6]:
large_df = pd.read_table('../data/preprocessed inequality news.txt' ,header=0, encoding='gb2312', sep=',')

,id,text,month,year,tokenized_text,normalized_tokens,reduced_tokens
0,1705816,"For those of us who have not known war , the ...",11,10,"['For', 'those', 'of', 'us', 'who', 'have', 'n...","['know', 'war', 'word', 'soldier', 'help', 'un...","['know', 'war', 'word', 'help', 'understand', ..."
1,4512620,"Kazi Khaleed Ashraf ONCE upon a time , Dhak...",3,10,"['Kazi', 'Khaleed', 'Ashraf', 'ONCE', 'upon', ...","['kazi', 'khaleed', 'ashraf', 'time', 'dhaka',...","['city', 'street', 'heart', 'city', 'air', 'se..."
2,1448476,There is a myth in wide circulation that the ...,4,10,"['There', 'is', 'a', 'myth', 'in', 'wide', 'ci...","['myth', 'wide', 'circulation', 'superiority',...","['free', 'trade', 'simply', 'question', 'agree..."
3,1490802,Please turn on JavaScript . Media requires Ja...,5,10,"['Please', 'turn', 'on', 'JavaScript', 'Media'...","['turn', 'javascript', 'medium', 'require', 'j...","['turn', 'play', 'foreign', 'secretary', 'say'..."
4,1647381,Image caption The death of Mono Jojoy could c...,9,10,"['Image', 'caption', 'The', 'death', 'of', 'Mo...","['image', 'caption', 'death', 'mono', 'jojoy',...","['death', 'cause', 'group', 'military', 'succe..."
...,...,...,...,...,...,...,...
45424,31034526,Can an academic study also double up as a riv...,6,19,"['Can', 'an', 'academic', 'study', 'also', 'do...","['academic', 'study', 'double', 'rivet', 'thri...","['academic', 'study', 'london', 'sense', 'move..."
45425,50673735,"Glasgow Southside , where Nicola Sturgeon is ...",5,19,"['Glasgow', 'Southside', 'where', 'Nicola', 'S...","['glasgow', 'southside', 'nicola', 'sturgeon',...","['high', 'level', 'child', 'poverty', 'researc..."
45426,31262587,"Rabbi Joachim Prinz , second from the left , ...",9,19,"['Rabbi', 'Joachim', 'Prinz', 'second', 'from'...","['rabbi', 'joachim', 'prinz', 'leave', 'join',...","['leave', 'leave', 'president', 'photo', 'marc..."
45427,50662844,The global rate of species extinction is ten ...,5,19,"['The', 'global', 'rate', 'of', 'species', 'ex...","['global', 'rate', 'species', 'extinction', 't...","['global', 'rate', 'high', 'average', 'past', ..."
45428,30663231,I am very thankful to this story as it is for...,3,19,"['I', 'am', 'very', 'thankful', 'to', 'this', ...","['thankful', 'story', 'people', 'satkhira', 'k...","['story', 'water', 'city', 'access', 'water', ..."

In [168]:
large_df.dropna(inplace=True)

In [127]:
def get_topic_file(file_name):
    file_path = '../data/inequality_topic/'
    file = file_path + file_name
    with open(file, 'r') as read_obj:
        # pass the file object to reader() to get the reader object
        csv_reader = reader(read_obj)
        # Pass reader object to list() to get a list of lists
        cluster = list(csv_reader)
        
    ids = []
    for ele in cluster: # list_of_rows[1] are id
        ele = list(filter(lambda x: x!= '', ele))
        ele = str(ele)
        for i, text in enumerate(large_df["reduced_tokens"]):
            #print(ele, type(ele))
            #print(text, type(text))
            if ele == text :
                ids.append(large_df['id'][i])
    
    print(len(ids))
    outcome_df = large_df[large_df['id'].isin(ids)]
    
    return outcome_df

In [128]:
outcome_df = get_topic_file('topic0.csv')
outcome_df.to_csv('../data/inequality_topic/topic0_text.csv' )

11062

In [134]:
for i in range(9):
    outcome_df = get_topic_file('topic'+ str(i) +'.csv')
    outcome_df.to_csv('../data/inequality_topic/topic'+ str(i) +'_text.csv' )

11062
10717
16079
7297
15958
12886
17484
12182
15989